*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
    gap: 10px;

    background-color: #323232;
    color: #D4D4D4;
}

h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

span{
    max-width: 450px;
    font-size: 18px;
    text-align: center;
}

a{
    color: rgba(179, 212, 252);
    font-weight: bold;
    text-decoration: none;
}

::selection{
    background: rgba(179, 212, 252, 0.5); 
    color: #FFFFFF;
}